<footer class="bs-footer footer" role="contentinfo">
  <div class="container">

{{#md }}
Stacktic is made for you by [mcasimir](https://github.com/mcasimir)

[<i class="fa fa-github"></i> Github](https://github.com/mcasimir/stacktic)

Published under the [MIT license](https://raw.githubusercontent.com/mcasimir/stacktic/master/LICENSE).
{{/md}}

  </div>
</footer>