<html>
<head>
  <meta charset="UTF-8">
  <title>{{ $current.title }}</title>  
  {{#each stylesheets.items}}
    <link href="{{$path}}" rel="stylesheet" />
  {{/each}}
  
  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

</head>
<body>

{{>'nav'}}

{{{ yield 'hero' }}}

  <div class="container">

{{#if $current.toc}}
<div class="row">
  <div class="col-sm-3 sidebar-container">
    <ul class="toc sidebar nav" id="toc">
    </ul>
  </div>
  <div class="col-sm-9">
<div class="content">
{{#unless isHome}}
<div class="page-header"><h1>{{$current.title}}</h1></div>
{{/unless}}

{{{ yield }}}  
</div>
  </div>
</div>
{{else}}
<div class="content">
{{#unless isHome}}
<div class="page-header"><h1>{{$current.title}}</h1></div>
{{/unless}}

{{{ yield }}}  
</div>
{{/if}}
  </div>
{{> 'footer' }}

{{#each scripts.items}}
  <script src="{{$path}}"></script>
{{/each}}
  
</body>
</html>